.banner{
  background-image: url("https://i.ibb.co/QKrWmBf/istockphoto-638377134-170667a-1.jpg");
  background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: overlay;
    background-size: cover;
    height:800px;
    width: 100%;
  
}